html,body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Roboto', monospace;
}
.whole-contain{
    display: flex;
    justify-content: center;
    
}
.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 10em 2em 2em;
    gap: 30px;
}
button{
    margin: 0 20px 0;
    background-color:#ffffff;
    border: .2rem solid black;
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    
}

button:hover
{
    background-color: black;
    color: white;
}


.container{
    height: 640px;
    width: 640px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1rem rgb(160, 156, 156);
    margin-right: 300px;
    display: flex;
    flex-wrap: wrap;
}


#heading{
    font-size:50px;
    font-family: 'Patrick Hand', cursive;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

input{
    margin: 0 auto;
    border: none;
    height: 80px;
    width: 80px;
    border-radius: .5em;
}

.disable-select
{
    user-select:none;
}